<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
table, th, td {
  border: 1px solid black;
}

  </style>


<body>

  <a href="/statistics">Visit Statistics</a>
  
  <div>
  <h2>Filter by rating:</h2>
  <form method="POST" action="/rating_filter">
    <input type="radio" name="rating" value="5"> &#9733 &#9733 &#9733 &#9733 &#9733<br>
<input type="radio" name="rating" value="4"> &#9733 &#9733 &#9733 &#9733<br>
<input type="radio" name="rating" value="3"> &#9733 &#9733 &#9733<br>
<input type="radio" name="rating" value="2"> &#9733 &#9733 <br>
<input type="radio" name="rating" value="1"> &#9733<br>
<input type="radio" name="rating" value="0"> All<br>
    <input type="submit" value="Filter Rating"></p>
  </form>
  </div>


  

  <h1>Inventory Details with At least one item in stock</h1>
  <table>
    {% for column in inventory_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in inventory_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>

  <div>
  <h2>Select One of the Items to view its detail :</h2>
  <form method="POST" action="/item">
    <select name="sku">
      {% for row in inventory_data %}
        <option value="{{row[0]}}">{{row[1]}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="View Detail"></p>
  </form>
</div>






</body>


</html>
