<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
table, th, td {
  border: 1px solid black;
}

  </style>


<body>

  <h1>Money Spent By Each Customer : </h1>
  <table>
    {% for column in money_spent_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in money_spent_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>

  <h1>SKU Sell Statistics: </h1>
  <table>
    {% for column in sku_detail_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in sku_detail_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>


  <h1>Shipping Cost Statistics: </h1>
  <table>
    {% for column in shipping_cost_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in shipping_cost_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>

  <h1>Inventory Details</h1>
  <table>
    {% for column in inventory_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in inventory_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>

  <div>
  <h2>Select One of the Items to view its detail :</h2>
  <form method="POST" action="/item">
    <select name="sku">
      {% for row in inventory_data %}
        <option value="{{row[0]}}">{{row[1]}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="View Detail"></p>
  </form>
  </div>




</body>


</html>
