<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
table, th, td {
  border: 1px solid black;
}

  </style>


<body>
  <h2>Select Minimum Sell Amount</h2>
  <form method="POST" action="/statistics">
    <select name="min_cust_sale">
        <option value="0">All</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="1500">1500</option>
    </select>
    <input type="submit" value="View Detail"></p>
  </form>


  <h1>Money Spent By Each Customer : </h1>
  <table>
    {% for column in money_spent_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in money_spent_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>

  <h1>SKU Sell Statistics: </h1>
  <table>
    {% for column in sku_detail_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in sku_detail_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>


  <h1>Shipping Cost Statistics: </h1>
  <table>
    {% for column in shipping_cost_cols %}
      <th>{{column}}</th>
    {% endfor %}

    {% for row in shipping_cost_data %}
    <tr>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <p>





</body>


</html>
